@light-green: #11A9B7;
@dark-blue: #0A3F5A;

@font-family-roboto: 'Roboto', sans-serif;
@font-family-montserrat: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700,700i|Roboto:400,400i,700,700i&subset=cyrillic,cyrillic-ext');


* {
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
	color: white;
}

.btn{
	width: 162px;
	border: none;
	outline: none;
	background-color: #EF2D56;
	color: white;
	font-size: 16px;
	font-family: @font-family-montserrat;
	font-weight: bold;
}
.header {
  position: relative;
	height: 640px;
  background-color: @dark-blue;
  color: white;
	&__registration{
	  position: relative;
		padding: 10px;
	  background-color: @light-green;
		font-family: @font-family-roboto;
		font-size: 14px;
		&__enter{
			padding-left: 26px;
			margin-right: 38px;
			&::before {
					content: '';
					position: absolute;
					left:0;
					width: 17px;
					height: 17px;
					background: url(../img/enter.svg) center center no-repeat;
					}
		}
		&__price-list {
			position: relative;
			padding-left: 26px;
			color: white;
			text-decoration: none;
			&::before {
					content: '';
					position: absolute;
					left:0;
					width: 16px;
					height: 16px;
					background: url(../img/price_list.svg) center center no-repeat;
					}
		}
	}
	&__main {
		height: 600px;
	}
}
.container {
  position: relative;
  width: 1170px;
  height: 100%;
	margin: 0 auto;
}
.info {
  position: relative;
	height: 105px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.1);
  overflow: hidden;
	font-family: @font-family-roboto;
  div {
    position: relative;
    float: left;
    margin-top: 20px;
  }
  &__logo{
    margin-right: 37px;
  }
  &__delivery{
    margin-right: 31px;
    font-size: 13px;
    img{
      display: block;
    }
  }
  &__contacts{
    margin-right: 31px;
    .contacts__phone{
      display: block;
			padding-left: 26px;
			margin-bottom: 11px;
      font-size: 24px;
			&::before {
					content: '';
					position: absolute;
					width: 16px;
					height: 16px;
					left:0;
					background: url(../img/phone.png) center center no-repeat;
					}
    }
		.contacts__mail{
			padding-left: 24px;
			padding-bottom: 2px;
			border-bottom: 1px solid #11A9B7;
			text-decoration: none;
			color: white;
			&::before {
					content: '';
					position: absolute;
					left:0;
					width: 14px;
					height: 14px;
					background: url(../img/envelope.png) center center no-repeat;
					}
		}
  }
  &__search {
		width: 236px;
		height: 100%;
		margin-right: 21px;
		margin-top: 35px !important;
		&__form{
			height: 40px;
			width: 100%;
		}
		&__text {
			height: 100%;
			width: 100%;
			box-sizing: border-box;
			background: rgba(255, 255, 255, 0.15);
			border-radius: 4px;
			border-width: 0;
			&::placeholder{
				padding-left: 17px;
				padding-top: 11px;
				font-size: 15px;
				font-family: @font-family-roboto;
				color: white;
			}
		}
		&__submit {
			position: absolute;
			top: 3px;
			right: 3px;
			width: 38px;
			height: 33px;
			border: 0;
			background: url(../img/search_btn.svg) center center no-repeat;
			/*left:0*/
		}
  }
  &__basket {
		box-sizing: border-box;
    width: 220px;
    height: 73px;
		margin-top: 0 !important;
		padding-top: 24px;
    border: 2px solid rgba(255, 255, 255, 0.2);
		font-size: 14px;
		&__img{
			vertical-align: middle;
			margin-left: 12px;
    	margin-right: 14px;
		}
  }
}

.menu {
  position: relative;
	margin: 30px 78px;
	font-family: @font-family-montserrat;
	font-weight: 600;
	font-size: 15px;
  &__list {
    overflow: hidden;
  }
  &__link {
    font-size: 15px;
    text-decoration: none;
    color: white !important;
  }
  &__item {
    float: left;
    list-style: none;
    margin-right: 35px;
		&:last-child{
			margin-right: 0;
		}
  }
}

.photo {
  position: absolute;
	bottom: -15px;
	height: 440px;
	z-index: 1;
	&__text-block{
		position: absolute;
    width: 610px;
    height: 315px;
    left: -25px;
		top: 50px;
		background: rgba(0, 0, 0, 0.8);
	}
	&__text{
		display: block;
		margin-top: 70px;
		font-family: @font-family-montserrat;
		font-weight: bold;
		font-size: 36px;
	}
	&__more-detailed{
		display: block;
		position: absolute;
		left: 50px;
		bottom: 40px;
    box-sizing: border-box;
    width: 162px;
		padding: 10px 30px;
		font-family: @font-family-montserrat;
		font-weight: bold;
		font-size: 16px;
		background: #EF2D56;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
		border-radius: 4px;
		color: white;
		text-decoration: none;
	}
  img {
    bottom:0
  }
}
/*catalog*/
.catalog {
	position: relative;
	width: 100%;
	font-family: @font-family-montserrat;
	background: #E5E5E5;
	&__title-block{
		position: relative;
		display: inline-block;
		margin-top: 94px;
	}
	&__title-shadow{
		position: absolute;
		top: -47px;
		font-size: 72px;
		font-weight: bold;
		color: rgba(10, 63, 90, 0.1);
	}
	&__title {
		padding-left: 21px;
		font-size: 35px;
		color: #0A3F5A;
	}
	&__title-line{
		width: 80px;
		height: 4px;
		margin-top: 44px;
		margin-bottom: 39px;
		margin-left: 21px;
		background-color: #0A3F5A;
		color:#424242;
		&-text{
			position: absolute;
			right: -365px;
			bottom: 30px;
			font-size: 15px;
			line-height: 25px;
			font-family: @font-family-roboto;
		}
	}

	&__items{
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	&__item{
		display: block;
		float: left;
		width: 274px;
		height: 305px;
		border: 3px solid #11A9B7;
		padding-top: 12px;
		padding-left: 12px;
		padding-right: 12px;
		background-color: white;
		margin-right: 24px;
		box-sizing: border-box;

		&-title{
			display: block;
			box-sizing: border-box;
			height: 76px;
			padding-top: 14px;
			padding-bottom: 21px;
			line-height: 26px;
			font-size: 18px;
			text-align: center;
			color: #2D2D2D;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__buttons {
		position: relative;
		padding-top: 58px;
		padding-bottom: 51px;
		text-align: center;

		button{
				padding-top: 13px;
				padding-bottom: 13px;
				font-size: 16px;
		}
		.btn__new{
				margin-right: 25px;
		}
	}
	&__line{
		position: absolute;
		top: -17px;
		right: 0;
		width: 1920px;
		height: 9px;
		background: #11A9B7;
	}
}/*catalog*/
/*news*/
.news {
	position: relative;
	background: #11A9B7;
	color: white;
	width: 100%;
	&__title-shadow{
		position: absolute;
		top: -47px;
		font-size: 72px;
		font-weight: bold;
		color: rgba(255, 255, 255, 0.1);
	}
	&__title-block{
		display: inline-block;
		position: relative;
		margin-top: 94px;
	}
	&__title {
		font-size: 35px;
		padding-left: 21px;
	}
	&__title-line{
		width: 80px;
		height: 4px;
		margin-top: 44px;
		margin-bottom: 39px;
		margin-left: 21px;
		background-color: white;
	}
	&__item {
		display: inline-block;
		position: relative;
		width: calc(33% - 15px);
		height:150px;
		margin: 7px;
		border: 1px solid #E5E5E5;
		box-sizing: border-box;
		font-family: @font-family-roboto;
		color: white;
		text-decoration: none;
		&__date-day{
			display: inline-block;
			width: 44px;
			height: 44px;
			padding: 9px 13px 6px 8px;
			margin: 7px 6px 10px 7px;
			font-size: 20px;
			box-sizing: border-box;
			background: url("../img/date.svg");
		}
		&__date-month{
			font-size: 15px;
		}
		&__text{
			display:inline-block;
			margin-left: 29px;
			margin-right: 29px;
			line-height: 24px;
			font-size: 17px;
		}
		&:hover{
			background-color: white;
			color: @light-green;
		}
		&__arrow{
			position: absolute;
			width: 15px;
			height: 12px;
			bottom: 12px;
			right: 18px;
			background: url("../img/news_arrow.svg") center center no-repeat;
		}
	}
	&__buttons {
		position: relative;
		padding-top: 58px;
		padding-bottom: 51px;
		font-family: @font-family-montserrat;
		font-weight: bold;
		text-align: center;

		button{
				padding-top: 13px;
				padding-bottom: 13px;
		}
	}
}/*news*/

/*yandex.map*/
.dealers{
	position: relative;
	width: 100%;
	padding-top: 37px;
	color: white;
	background: #0A3F5A;
	&__title-block{
		display: inline-block;
		position: absolute;
		top: 94px;
		width: 600px;
		font-family: @font-family-montserrat;
		z-index: 1;
	}
	&__title-shadow{
		position: absolute;
		top: -47px;
		font-size: 72px;
		font-weight: bold;
		color: rgba(255, 255, 255, 0.1);
	}
	&__title {
		font-size: 35px;
		padding-left: 21px;
	}
	&__title-line{
		width: 80px;
		height: 4px;
		margin-top: 44px;
		margin-bottom: 39px;
		margin-left: 21px;
		background-color: white;
	}



	&__map{
		width: 100%;
		height: 780px;
	}
}

.footer{
	position: relative;
	color: white;
	overflow: hidden;
	font-family: @font-family-roboto;
	background: #292929;
	&__inner{
		padding-top: 50px;
		padding-bottom: 50px;
		overflow: hidden;
	}

	&__logo{
		position: relative;
		float: left;
		margin-right: 73px;
	}
	&__menu__list{
		position: relative;
		float: left;
		width: 320px;
		margin-right: 36px;
		list-style: none;
	}
	&__menu__item{
		position: relative;
		float: left;
		width: 50%;
		font-size: 14px;
		line-height: 26px;
	}
	&__contacts{
		position: relative;
		float: left;
		margin-right: 92px;
		&__phone{
			display: block;
      font-size: 24px;
			padding-left: 26px;
			margin-bottom: 11px;
			&::before {
					content: '';
					position: absolute;
					left:0;
					width: 16px;
					height: 16px;
					background: url(../img/phone.png) center center no-repeat;
					}
		}
		&__mail{
					padding-left: 24px;
					color: white;
					text-decoration: none;
					&::before {
							content: '';
							position: absolute;
							width: 14px;
							height: 14px;
							left:0;
							background: url(../img/envelope.png) center center no-repeat;
							}
		}
	}
	&__address{
		position: relative;
		float: left;
		width: 257px;
		font-size: 14px;
		line-height: 20px;
		&::before {
				content: '';
				position: absolute;
				left:0;
				width: 11px;
				height: 17px;
				background: url(../img/geo.png) center center no-repeat;
				}
	}
.copyright{
		padding-top: 27px;
    padding-bottom: 42px;
    background-color: #0A3F5A;
		font-size: 14px;
		&__azpi{
			float: left;
		}
		&__letsrock{
			float: right;
			a{
				 display: block;
				 float: right;
				 width: 102px;
				 height: 22px;
				 background: url(../img/logo-letsrock.svg) center center no-repeat;
			}
		}
}

}/*footer*/
